Options +FollowSymLinks 
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^perfil/$ controller/profile.cntrl.php [L]
RewriteRule ^guild controller/guild.cntrl.php [L]
RewriteRule ^clanes controller/guilds.cntrl.php [L]