/**
 * @Author: Your name
 * @Date:   2022-04-03 03:03:53
 * @Last Modified by:   Your name
 * @Last Modified time: 2022-04-21 17:26:47
 */

 @font-face {font-family: "Cronos Pro"; src: url("//db.onlinewebfonts.com/t/a059538dbb553b4978607a6366a9653b.eot"); src: url("//db.onlinewebfonts.com/t/a059538dbb553b4978607a6366a9653b.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a059538dbb553b4978607a6366a9653b.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/a059538dbb553b4978607a6366a9653b.woff") format("woff"), url("//db.onlinewebfonts.com/t/a059538dbb553b4978607a6366a9653b.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/a059538dbb553b4978607a6366a9653b.svg#Cronos Pro") format("svg"); }

 body{
     background-color: #f1f3f4;
 }

 .container-fluid{
    box-shadow: 5px 5px 5px 5px #888888;
 }

 .cke_contents{
    cursor: pointer!important;
 }
 
 button{
    font-weight: 500;
    background: rgb(170, 4, 4);
    color: rgb(255, 255, 255)!important;
    padding: 0 5px;
    font-size: 14px;
    line-height: 2;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
 }

 .image_preview_content{
     padding-top: 30px;
 }
 
 .image_preview{
     max-width: 100%;
     max-height: 200px;
 }

 .image_preview_left{
    text-align: left;
}

 .image_preview_center{
     text-align: center;
 }

 .image_preview_right{
    text-align: right;
}

.image_preview_expand_h img{
    width: 100%;
    max-width: none;
}

.image_preview_expand_v img{
    height: 100%;
    max-height: none;
}

 .cke_button__removecolumn{
    font-weight: 500!important;
    background: rgb(170, 4, 4)!important;
    color: rgb(255, 255, 255)!important;
    border-radius: 4px!important;
    border: 1px solid transparent!important;
    cursor: pointer!important;
    margin-left: 3px!important;
}

select{
    font-weight: 500;
    background: rgb(170, 4, 4);
    color: rgb(255, 255, 255)!important;
    padding: 5px 10px;
    margin: 2px;
    font-size: 14px;
    line-height: 2;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
 }

 .row{
     margin-bottom: 32px;
     position: relative;
 }

.row_panel{
    position: absolute;
    top: 50%;
    right: -16%;
    transform: translateY(-50%);
}

.row_panel div{
    vertical-align: top;
    display: inline-block;
    float: right;
}

.column_panel div{
    display: inline-block;
    vertical-align: top;
}

textarea{
    width: 90%;
    margin: 0 auto;
    resize: none;
}

body{
    font-family: Cronos Pro!important;
}

.text_content.disabled{
    display: none;
}

.image_content.disabled{
    display: none;
}