/**
 * @Author: Albert
 * @Date:   2022-04-11 03:32:35
 * @Last Modified by:   Your name
 * @Last Modified time: 2022-04-12 13:34:03
 */
 
.footer{
    height: 85px;
    background-color: black;
    margin-top: 10px;
}