/**
 * @Author: Albert
 * @Date:   2022-04-10 19:21:40
 * @Last Modified by:   Your name
 * @Last Modified time: 2022-04-19 20:56:00
 */


html, body{
    height: 100%;
    margin:0px;
}

body{
    padding: 0!important;
}

.container-fluid{
    padding: 15px;
    max-width: 1400px;
    margin: auto;
    min-height: 100%;
    background-color: #fff;
    box-shadow: 5px 5px 5px 5px #888888;
}